[build]
  publish = "dist"
  command = "npm run build"

[[redirects]]
  from = "https://www.zacharyking.com.au/*"
  to = "https://zacharyking.com.au/:splat"
  status = 301
  force = true

[[redirects]]
  from = "/posts/:slug"
  to = "/insights/:slug"
  status = 301
  force = true

[[redirects]]
  from = "/posts/"
  to = "/insights"
  status = 301
  force = true

[[headers]]
  for = "/_astro/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.js"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"

[[headers]]
  for = "/*.css"
  [headers.values]
    Cache-Control = "public, max-age=31536000, immutable"
